services:
  postgres:
    image: postgres:18.1
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: notes
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: your_password_here
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  server:
    build: .
    container_name: node-server
    ports:
      - "3001:3001"
    environment:
      - JWT_SECRET=ThisIsAVerySecretySecret
      - JWT_EXPIRATION=31d
      - DB_NAME=notes
      - DB_USER=postgres
      - DB_PASSWORD=your_password_here
      - DB_HOST=postgres-db
      - DB_PORT=5432
      - DB_DIALECT=postgres
      - NODE_ENV=development
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: